.pageNotFound {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    text-align: center;
}

.number {
    color: var(--main);
    font-size: 45px;
    margin-bottom: 10px;
}

.tomain {
    color: var(--main);
}