/* global css file */

:root {

    --main: #1b82cb;
    --main-light: #2697e8;
    --main-dark: #186daa;

    --navbar-height: 60px;
    --border-default: rgb(234, 234, 234);
}

* {
    overflow-x: hidden !important;
}

html {
    font-display: auto !important;
    text-rendering: geometricPrecision !important;
}

::-webkit-scrollbar {
    width: 0px !important;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision !important;
    font-family: "GT Eesti Pro Display" !important;
    font-weight: 400;
}

.btn:focus {
    box-shadow: none !important;
}

.app {
    height: 100dvh;
    width: 100%;
}

.app-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.app-layout {
    margin: 90px 20px;
}

.section-title {
    font-size: 28px;
}

.hidden {
    visibility: hidden;
}